.priority {
  display: flex;
  flex-direction: column;
  gap: var(--space-medium);
}

.heading {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-medium);
}
